/* SANS Electronic Workbook styles: pdf.css
   Version: 1.1.3

   Do not make changes to this file - they will be overwritten.  Customizations
   may be applied in the custom.css file, but core requirements such as font
   face and size, colors, and other styles may be removed.

   In general, if you're not sure whether a customization will "stick", contact
   SROC for assistance.
   */

@media print {
    html {
        font-size: 10pt;
    }

    .md-typeset {
        font-size: 1rem;
    }
    .md-typeset .admonition, .md-typeset details, .md-typeset .footnote {
        font-size: 0.9rem;
    }

    .md-container,
    .md-main__inner,
    .md-grid {
        padding-top: 0rem;
    }

    @page {
        size: letter portrait;
        margin: 25mm 10mm 25mm 10mm;
        counter-increment: page;
        white-space: pre;
        color: black;
    }
}
